body{
    font: 20px, Arial-sans-serif;
}

.navbar{
    background-color: #298a08;
}

.quem-somos{
    color: white;
    background-color: #8181f7;
}
.margin{
  
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: aquamarine;
}

.bg-footer{
    background-color: black;
    color: white;
}

